# Activity Analyzer

## Period
{{startDate}} ~ {{endDate}}

{{#pulls}}
## Pull Request

{{#merged}}

| Number of Merged Issues | Average Time to Merge |
|---|---|
| {{#count}}{{count}} issue{{/count}} | {{#averageTime}}{{#days}}{{days}} days{{/days}}{{#hours}} {{hours}} hours{{/hours}}{{#minutes}} {{minutes}} minutes{{/minutes}}{{/averageTime}} |

{{#chart}}
```mermaid
{{{chart}}}
```
{{/chart}}

{{/merged}}

{{/pulls}}