# Activity analyzer

## Period
{{{current.start}}} ~ {{{current.end}}}

{{#pulls}}
## Pull Request

{{#merged}}

### Current period ({{{current.start}}} ~ {{{current.end}}})
{{#current}}
|マージされたissue数|マージするまでの平均時間|
|---|---|
|{{#count}}{{count}} issue{{/count}}|{{#averageTime}}{{#days}}{{days}} 日{{/days}}{{#hours}} {{hours}} 時間{{/hours}}{{#minutes}} {{minutes}} 分{{/minutes}}{{/averageTime}}|

{{#chart}}
```mermaid
{{{chart}}}
```
{{/chart}}
{{/current}}
{{^current}}
期間内にマージされたissueがありませんでした。
{{/current}}

### Previous period ({{{previous.start}}} ~ {{{previous.end}}})
{{#previous}}
|マージされたissue数|マージするまでの平均時間|
|---|---|
|{{#count}}{{count}} issue{{/count}}|{{#averageTime}}{{#days}}{{days}} 日{{/days}}{{#hours}} {{hours}} 時間{{/hours}}{{#minutes}} {{minutes}} 分{{/minutes}}{{/averageTime}}|

{{#chart}}
```mermaid
{{{chart}}}
```
{{/chart}}
{{/previous}}
{{^previous}}
前の期間内にマージされたissueがありませんでした。
{{/previous}}

{{/merged}}

{{/pulls}}