# Activity Analyzer

## 期間
{{{current.start}}} ~ {{{current.end}}}

{{#pulls}}
## Pull Request

{{#merged}}

{{#current}}
#### マージされたPR数（トータル）
{{#count}}{{count}} PRs{{/count}} {{#previous.count}}(前の期間: {{previous.count}} PRs){{/previous.count}}

#### マージされたPR数（ユーザーごと）

| ユーザー | マージされたPR数 | マージされたPR |
| --- | --- | --- |
{{#perUser}}
| {{name}} | {{count}} PRs | {{#links}}{{{.}}}{{/links}} |
{{/perUser}}

{{/current}}

{{/merged}}

{{/pulls}}
