# Activity analyzer

## Period
{{{current.start}}} ~ {{{current.end}}}

{{#pulls}}
## Pull Request

{{#merged}}

### Current Period ({{{current.start}}} ~ {{{current.end}}})
{{#current}}
#### マージされたPR数（トータル）
{{#count}}{{count}} PRs{{/count}}

#### ユーザーごとにマージされたPR数（ユーザーごと）

| ユーザー | マージしたPR数 | マージしたPR |
| --- | --- | --- |
{{#perUser}}
| {{name}} | {{count}} PRs | {{#links}}{{@index}}. {{links}}{{/links}} |
{{/perUser}}

{{/current}}

{{/merged}}

{{/pulls}}
