Activity analyzer

# Period
{{startDate}} ~ {{endDate}}

# Issue

|||
|---|---|
{{#numberOfClosedIssues}}
|closeされたissueの数|{{numberOfClosedIssues}}|
{{/numberOfClosedIssues}}
{{#closedIssueTimeAverage}}
|closeするまでの平均時間|{{#days}}{{days}}日{{/days}}{{#hours}}{{hours}}時間{{/hours}}{{#minutes}}{{minutes}}分{{/minutes}}|
{{/closedIssueTimeAverage}}