# Activity analyzer

## Period
{{startDate}} ~ {{endDate}}

{{#pulls}}
## Pull Request

|||
|---|---|
{{#merged}}
{{#count}}
|マージされたissueの数|{{count}}|
{{/count}}
{{#averageTime}}
|closeするまでの平均時間|{{#days}}{{days}}日{{/days}}{{#hours}}{{hours}}時間{{/hours}}{{#minutes}}{{minutes}}分{{/minutes}}|
{{/averageTime}}

{{#chart}}{{#chart}}{{/chart}}
{{/merged}}

{{/pulls}}