# Activity analyzer

## Period
{{startDate}} ~ {{endDate}}

{{#pulls}}
## Pull Request

|||
|---|---|
{{#merged}}
|マージされたissue数|closeするまでの平均時間|
|---|---|
|{{#count}}{{count}}{{/count}}|{{#averageTime}}{{#days}}{{days}}日{{/days}}{{#hours}}{{hours}}時間{{/hours}}{{#minutes}}{{minutes}}分{{/minutes}}{{/averageTime}}|

{{#chart}}
```mermaid
{{{chart}}}
```
{{/chart}}
{{/merged}}

{{/pulls}}